@btnPrimaryBg: #39C240;
@btnPrimaryHover: #179B16;

// input
@inputColor: #000000;
@inputBg: #FBFBFB;
@inputBorderColor: #D0D0D0;
@inputPlaceholderColor: #9B9B9B;

.button-mixin(@width) {
  width: @width;
  line-height: 42px;
  background-color: #424242;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  &.button_disabled {
    background-color: rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, .6);
  }
  &.button_default {
    color: rgba(0, 0, 0, .3);
    background-color: #F7F7F7;
  }
  &.button_primary {
    background-color: #9ED99D;
  }
  &.button_warn {
    background-color: #EC8B89;
  }
}

// input
.el-input {
  outline: none;
  padding: 0;
  .el-input__inner {
    background-color: @inputBg;
    border: solid 1px @inputBorderColor;
    border-radius: 0;
    font-size: 14px;
    color: @inputColor;
    height: 40px;
    align-content: center;
    align-items: center;
  }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    font-size: 12px;
    color: @inputPlaceholderColor;
  }
  //chrome,safari
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    font-size: 12px;
    color: @inputPlaceholderColor;
  }
  //ie10
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    font-size: 12px;
    color: @inputPlaceholderColor;
  }
}

// button
.el-button--success {
  //width: 100%;
  height: 40px;
  padding: 0;
  background-color: #39C240;
  border-color: #39C240;
  border-radius: 0;
  color: #ffffff;
}

//button _disabled
.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
  opacity: .3;
}

