html,
body,
#app,
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  background-color: #EAEDF0;
  .login-banner {
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
    line-height: 30px;
    text-align: right;
    background-color: #222222;
  }
  nav {
    background-color: #ffffff;
  }
  .main-wrapper {
    flex-grow: 1;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 600px;
  }
  .copy-right {
    text-align: center;
    color: #999999;
    font-size: 12px;
    padding: 20px 0;
  }
}
