.module-wrapper {
  position: relative;
  overflow-y: auto;
  .title {
    line-height: 65px;
    padding: 0 23px 0 25px;
    border-bottom: 1px solid #ECECEC;
    font-size: 16px;
    color: #4A4A4A;
  }
  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 23px 15px 25px;
    box-sizing: border-box;
    .el-input {
      outline: none;
      width: 68%;
      font-size: 14px;
      .el-input__inner {
        border-radius: 0;
        background-color: #FBFBFB;
        border: solid 1px #D0D0D0;
        height: 40px;
        color: #000000;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #9B9B9B;
      }
    }
    .el-button--success {
      margin-left: 17px;
      background-color: #39C240;
      min-width: 173px;
      line-height: 18px;
      font-size: 14px;
      border-radius: 2px;
    }
  }
  h3 {
    font-size: 16px;
    color: #4A4A4A;
    padding: 0 23px 16px 25px;
  }
  .content {
    //height: 100%;
    padding: 0 23px 0 25px;
    overflow-y: auto;
  }
  .oddrowcolor {
    background-color: #d4e3e5;
  }
  .evenrowcolor {
    background-color: #c3dde0;
  }
}
